
.drag-image {
    margin-top: 20px;
    padding: 10px;
    background-color: lightgreen;
    opacity: 0.7;
    border-radius: 10px;
    border: 3px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.drag-image.active {
    opacity: 1;
}

.drag-image .icon {
    font-size: 30px;
    color: #ffffff;
    opacity: 1;
}

.drag-image button:hover {
    background-color: #ffffff;
    color: red;
    opacity: 1;
}

.output-text {
    margin-top: 1em;
}

img.target-image {
    margin: 10px;
    width: 400px;
    height: Auto;
}

.sample-image {
    width: auto;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin: 3px;
}

#ausgabe {
    visibility: unset;
    width: 90%;
}

#ausgabe.hidden {
    visibility: hidden;
}

#ausgabe-fehler {
    visibility: unset;
}

#ausgabe-fehler.hidden {
    visibility: hidden;
}

#ausgabe-graphText {
    margin-top: 30px;
}

#lösung {
    margin-top: 10px;
    width: 90%;
}

#dokumentation {
    margin-top: 25px;
    width: 90%;
}

.dokutext {
    margin-left: 10px;
}

.unloaded-net {
    color: red;
}

.loaded-net {
    color: green;
}